
@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Inicio";
}

<div class="jumbotron" style="background:#ffffff">
    <h2>Bienvenido al Sistema de Asignación de Guías de la OET</h2>

 

</div>
