@{
    ViewBag.Title = "Confirmación del olvido de su contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Se le ha enviado un email con el link para que pueda restablecer su contraseña.</p>
    </div>
</div>


