@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";

}

<div class="row">
    <div class="col-xs-12">
        </br>
        </br>
        </br>

        </br>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1>Sistema de manejo de guías OET</h1>
            <p class="lead">Bienvenido al sistema de manejo de guías de la Organización para Estudios Tropicales. En este sistema tendrá la posibilidad de administrar los guías con los que cuenta la OET dependiendo de sus estaciones y roles.</p>
        </div>
    </div>
</div>